// bower:scss
// endbower

@import 'variables';

#addEventView {
  color: $primary-light-text-color;
  background: $material-grey-100;

  .centered {
    padding: 0 16px;

    .select-input,
    .input {
      width: 100%;
      height: 64px;
      margin-top: 16px;
      line-height: 66px;
      border-radius: 2px;
      background: $material-white;
      border: 1px solid $material-grey-300;

      input {
        color: $secondary-text-color;
      }
      input[type="date"] {
        padding: 24px 16px 20px;
        line-height: 22px;
      }
    }
    .select-input {
      .menu {
        li {
          text-align: center;
        }
      }
      .menu.open {
        max-height: 184px;
      }
    }
    .input {
      .button-container {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 100px;
        height: 20px;
        padding-top: 2px;
        transform: translateY(-50%);

        button {
          display: inline-block;
          float: left;
          width: 18px;
          height: 18px;
          margin: 0 1px;
          background: transparent;
          color: $material-grey-600;
        }
        button.enabled {
          color: $primary-color;
        }
      }
    }
    .input:last-of-type {
      height: 96px;

      textarea {
        margin: 8px;
        padding: 8px;
        font-size: 16px;
        border-radius: 2px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border: 1px solid $material-grey-300;
        color: $secondary-text-color;
      }
      textarea::-webkit-input-placeholder {
        color: $secondary-text-color;
      }
      textarea:-moz-placeholder { /* Firefox 18- */
        color: $secondary-text-color;
      }
      textarea::-moz-placeholder {  /* Firefox 19+ */
        color: $secondary-text-color;
      }
      textarea:-ms-input-placeholder {
        color: $secondary-text-color;
      }
    }
    button {
      width: 100%;
      height: 64px;
      border-radius: 2px;
      background: $primary-accent-color;
      margin: 32px 0 16px;
    }
  }
}
