// bower:scss
// endbower

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* IE 10 support for HTML5 hidden attr */
[hidden] {
  display: none !important;
}

/* flex layout classes */

.layout,
.vertical {
  display: flex;
}
.vertical {
  flex-direction: column;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex,
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

/* alignment in cross axis */

.start {
  align-items: flex-start;
}
.center,
.center-center {
  align-items: center;
}
.end {
  align-items: flex-end;
}

/* alignment in main axis */

.start-justified {
  justify-content: flex-start;
}
.center-justified,
.center-center {
  justify-content: center;
}
.end-justified {
  justify-content: flex-end;
}
.around-justified {
  justify-content: space-around;
}
.justified {
  justify-content: space-between;
}

/* self alignment */

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.self-stretch {
  align-self: stretch;
}
