// bower:scss
// endbower

.font-display4,
.font-display3,
.font-display2,
.font-display1,
.font-headline,
.font-title,
.font-subhead,
.font-body2,
.font-body1,
.font-caption,
.font-menu,
.font-button,
.font-code2,
.font-code1 {
  -webkit-font-smoothing: antialiased;
}
.font-display4,
.font-display3,
.font-display2,
.font-display1,
.font-headline,
.font-title,
.font-subhead,
.font-body2,
.font-body1,
.font-caption,
.font-menu,
.font-button {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-display3,
.font-display2,
.font-display1,
.font-headline,
.font-subhead,
.font-body1,
.font-caption {
  font-weight: 400;
}
.font-display4,
.font-display3,
.font-title,
.font-caption,
.font-menu,
.font-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-title,
.font-body2,
.font-menu,
.font-button,
.font-code1 {
  font-weight: 500;
}
.font-subhead,
.font-body2,
.font-menu,
.font-button {
  line-height: 24px;
}
.font-body1,
.font-caption,
.font-code2,
.font-code1 {
  line-height: 20px;
}
.font-code2,
.font-code1 {
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
}
.font-display4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.044em;
  line-height: 120px;
}
.font-display3 {
  font-size: 56px;
  letter-spacing: -.026em;
  line-height: 60px;
}
.font-display2 {
  font-size: 45px;
  letter-spacing: -.018em;
  line-height: 48px;
}
.font-display1 {
  font-size: 34px;
  letter-spacing: -.01em;
  line-height: 40px;
}
.font-headline {
  font-size: 24px;
  letter-spacing: -.012em;
  line-height: 32px;
}
.font-title {
  font-size: 20px;
  line-height: 28px;
}
.font-subhead {
  font-size: 16px;
}
.font-body2 {
  font-size: 14px;
}
.font-body1 {
  font-size: 14px;
}
.font-caption {
  font-size: 12px;
  letter-spacing: 0.011em;
}
.font-menu {
  font-size: 13px;
}
.font-button {
  font-size: 14px;
  letter-spacing: 0.018em;
  text-transform: uppercase;
}
.font-code2 {
  font-size: 14px;
  font-weight: 700;
}
.font-code1 {
  font-size: 14px;
}
