// bower:scss
// endbower

@import 'variables';

#homeView {
  color: $primary-light-text-color;
  background: $material-grey-100;

  .toolbar {
    padding-top: 8px;

    .title {
      left: -8px;

      img {
        width: 36px;
        height: 36px;
        margin-bottom: -8px;
      }
    }
    .tabs {
      padding-top: 56px;
      z-index: -1;

      svg {
        width: 24px;
        height: 24px;
      }
      span {
        left: 0;
        bottom: 0;
        width: calc(100% / 3);
        height: 4px;
        display: block;
        position: absolute;
        transform: translateX(200%);
        transition: transform 100ms ease-out;
        background: $primary-accent-color;
      }
    }
  }
  .list {
    padding: 8px 0;

    .row {
      padding: 8px 8px 8px;
      height: 128px;
      width: 100%;

      .item {
        width: 100%;
        height: 100%;
        padding: 8px;
        line-height: 24px;
        border-radius: 2px;
        color: $secondary-text-color;
        background: $material-white;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 4px;
        }
        button {
          background: $material-green-500;
          padding: 7px 8px 8px 8px;
          color: $material-white;
          border-radius: 2px;
          height: 32px;
          width: 96px;

          svg {
            width: 20px;
            height: 20px;
            margin-top: -1px;
          }
          div {
            line-height: 20px;
            font-weight: 600;
          }
        }
        .attending {
          color: $primary-color;
        }
        .experience-level {
          svg {
            color: $material-yellow-a700;
            margin-right: 0;
          }
        }
        .experience-level[data-experience-level="1"] {
          svg:nth-child(2),
          svg:nth-child(3),
          svg:nth-child(4),
          svg:nth-child(5) {
            display: none;
          }
        }
        .experience-level[data-experience-level="2"] {
          svg:nth-child(3),
          svg:nth-child(4),
          svg:nth-child(5) {
            display: none;
          }
        }
        .experience-level[data-experience-level="3"] {
          svg:nth-child(4),
          svg:nth-child(5) {
            display: none;
          }
        }
        .experience-level[data-experience-level="4"] {
          svg:nth-child(5) {
            display: none;
          }
        }
        .distance {
          color: $material-grey-800;
          padding-top: 8px;
        }
      }
    }
  }
}
