// bower:scss
// endbower

@import 'variables';

#landingView {
  background: $primary-color;
  color: $primary-light-text-color;

  .centered {
    padding: 0 16px;

    img {
      width: 160px;
      height: 160px;
      margin: 16px auto 0;
      display: block;
    }
    h1 {
      width: 100%;
      margin: 32px 0;
      font-weight: 600;
      text-align: center;
    }
    button {
      width: 100%;
      height: 64px;
      border-radius: 2px;
      background: $primary-accent-color;
    }
    button:last-child {
      margin: 16px 0;
    }
  }
}
