// bower:scss
// endbower

@import 'variables';

#logInView {
  color: $primary-light-text-color;

  .centered {
    padding: 0 16px;

    .input {
      width: 100%;
      height: 64px;
      line-height: 64px;
      border-radius: 2px;
      border: 1px solid $material-grey-300;
    }
    .input:first-of-type {
      margin: 16px 0 16px;
    }
    button {
      width: 100%;
      height: 64px;
      border-radius: 2px;
      background: $primary-accent-color;
    }
    button:first-of-type {
      margin-top: 32px;
    }
    button + div {
      width: 100%;
      height: 40px;
      margin: 16px 0;
      line-height: 40px;
      text-align: center;
      color: $primary-text-color;

      span {
        text-decoration: underline;
      }
    }
    button:last-of-type {
      background: #3b5998;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }
}
