// bower:scss
// endbower

@import 'variables';

html,
body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

body {
  color: $primary-text-color;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.view {
  width: 0;
  height: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.toolbar {
  padding: 8px;
  height: 56px;
  min-width: 100%;
  position: relative;
  background: $primary-color;
  color: $primary-light-text-color;
  z-index: 1;
  flex: none;

  .title {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 56px;
    position: absolute;
    text-align: center;
    z-index: -1;
  }
}
.toolbar:after {
  display: block;
  content: '';
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
}
.toolbar.seamed:after {
  display: none;
}
.toolbar.tall {
  height: 112px;
}
.toolbar.tall:after {
  top: 112px;
}

.centered {
  width: 320px;
  margin: auto;
}

.icon {
  width: 40px;
  height: auto;
  max-height: 40px;
  display: block;
  padding: 8px;
}

.icon {
  width: 40px;
  height: auto;
  max-height: 40px;
  display: block;
  padding: 8px;
}
button {
  color: inherit;

  svg {
    width: 100%;
    height: 100%;
    color: inherit;
  }
}
button[disabled] {
  opacity: 0.6;

  svg {
    color: $material-grey-500;
  }
}
button.round {
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
}
.button {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(33, 33, 33, 0.0);
  transition: background 250ms ease-in 250ms;
}
button:not([disabled]),
.button:not([disabled]) {
  cursor: pointer;
  cursor: hand;
}
.button:not([disabled]):active {
  background: rgba(33, 33, 33, 0.3);
  transition: background 175ms ease-in-out;
}
.button.light:not([disabled]):active {
  background: rgba(255, 255, 255, 0.2);
}

ul.menu {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 0;

  z-index: 2;
  max-width: 0;
  max-height: 0;
  background: $material-white;
  transform: translate3d(0, 0, 0);
  transition: max-width 250ms ease-out,
              max-height 250ms ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);

  li {
    height: 48px;
    padding: 16px;
    text-align: right;
    line-height: 16px;
    color: $secondary-text-color;
    position: relative;
    cursor: pointer;
    cursor: hand;
  }
  li:active {
    color: $material-blue-a400;
  }
  li:active:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $material-blue-a400;
    opacity: 0.12;
    content: '';
    display: block;
    pointer-events: none;
  }
}
.menu.open {
  max-width: 128px;
  max-height: 128px;
}

.list {
  width: 100%;

  .list-content {
    width: 100%;
    position: relative;
    transform: translate3d(0, 0, 0);

    .row {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      will-change: transform;
      transform: translate3d(0, 0, 0);
    }
  }
}

.footer {
  height: 56px;
  width: 100%;

  .footer-content-container {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex: 1;
  }
}

.fab {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $primary-light-text-color;
  background: $primary-accent-color;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: background 250ms ease-in-out;
  cursor: pointer;
  cursor: hand;
}
.fab:active {
  background: $light-accent-color;
  box-shadow: none;
  transition: background 175ms ease-in-out;
}

.input,
.select-input {
  text-align: left;
  position: relative;

  input::-webkit-input-placeholder {
    color: transparent;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: transparent;
  }
  input::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;
  }
  input:-ms-input-placeholder {
    color: transparent;
  }

  .floated-placeholder,
  input {
    width: 100%;
    height: inherit;
    font-size: 16px;
    line-height: inherit;
    padding: 0 16px;
  }
  .floated-placeholder {
    pointer-events: none;
    transform-origin: left;
    color: $secondary-text-color;
    transition: transform 250ms ease-out, color 250ms ease-out;
  }
  .floated-placeholder.floated {
    color: $primary-color;
    transform: translate(0, -22px) scale(0.75);
  }
  input + span:after {
    width: 0;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
  }
  input:focus + span:after {
    width: 100%;
    background: $primary-color;
    transition: width 250ms ease-out, left 250ms ease-out;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  .error {
    position: absolute;
    padding: 2px 0;
    top: 24px;
    left: 0;
    width: 100%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: $primary-error-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-out;
    animation-direction: reverse;

    svg {
      width: 20px;
      height: 20px;
    }
  }
  .error:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    padding: 1px 0 0 24px;
    top: 0;
    left: 0;
    color: $secondary-error-color;
  }
  .arrow-drop-down {
    position: absolute;
    right: 4px;
    top: 50%;
    width: 24px;
    height: 24px;
    color: $material-grey-600;
    transform: translateY(-50%);
  }
}
.input.error-display + .input,
.select-input.error-display + .input{
  transition: margin-top 250ms ease-out;
}
.form.show-error {
  .input,
  .select-input {
    input {
      border-color: $primary-error-color !important;
    }
    input:focus + span:after {
      background: $primary-error-color !important;
    }
    .floated-placeholder {
      color: $primary-error-color !important;
    }
    .error {
      max-height: 24px;
    }
  }
}

.toggle-container {
  width: 36px;
  height: 14px;
  position: relative;
  border-radius: 8px;
  margin-right: 16px;
  background: $material-grey-500;

  .toggle-switch {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    will-change: transform;
    transform: translateX(0px);
    transition: transform 100ms ease-out;
    background: $primary-color;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
  }
}
.toggle-container.enabled {
  background: $material-blue-a100;

  .toggle-switch {
    background: $material-blue-a400;
    transform: translateX(16px);
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid $secondary-text-color;

  svg {
    width: 18px;
    height: 18px;
    color: white;
    display: none;
  }
}
.checkbox.checked {
  background: $primary-color;
  border: none;
  transition: background 250ms ease-out;

  svg {
    display: block;
  }
}

@media (min-width: 601px) {
  .toolbar {
    height: 64px;

    .title {
      line-height: 64px;
    }
  }
  .toolbar:after {
    top: 64px;
  }
}
