// bower:scss
// endbower

@import 'variables';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

:invalid {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}

::selection {
  background: $primary-accent-color;
  color: $material-white;
}
::-moz-selection {
  background: $primary-accent-color;
  color: $material-white;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input:not([type]),
textarea,
button {
  background-color: transparent;
  text-decoration: none;
  text-indent: 0;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  user-select: auto;
  appearance: none;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input:not([type]) {
  overflow: auto;
}

textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

svg {
  fill: currentColor;
}

template {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
