// bower:scss
// endbower

@import 'variables';

.ripple {
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  pointer-events: none;
  animation: ripple-animation 1000ms forwards;
}

@keyframes ripple-animation {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  10% {
    opacity: 0.3;
  }
  75% {
    transform: scale(100);
  }
  100% {
    transform: scale(75);
    opacity: 0;
  }
}
