// bower:scss
// endbower

body[data-route="landing"] #landingView,
body[data-route="signUp"] #signUpView,
body[data-route="logIn"] #logInView,
body[data-route="home"] #homeView,
body[data-route="addEvent"] #addEventView {
  width: 100%;
  height: 100%;
}

body:not([data-route="landing"]) #landingView,
body:not([data-route="signUp"]) #signUpView,
body:not([data-route="logIn"]) #logInView,
body:not([data-route="home"]) #homeView,
body:not([data-route="addEvent"]) #addEventView {
  input {
    display: none;
  }
}
