// bower:scss
// endbower

@import 'variables';

#signUpView {
  color: $primary-light-text-color;

  .centered {
    padding: 0 16px;

    .input,
    .select-input {
      height: 64px;
      margin-top: 16px;
      line-height: 64px;
      border-radius: 2px;
      border: 1px solid $material-grey-300;
    }
    .input {
      width: 100%;
    }
    .select-input {
      width: calc(50% - 10px);
      display: inline-block;

      .menu {
        li {
          text-align: center;
        }
      }
      .menu.open {
        max-height: 184px;
      }
    }
    .select-input:nth-of-type(odd) {
      margin-left: 16px;
    }
    .select-input:last-of-type:after {
      display: block;
      width: 100%;
      clear: both;
      content: '';
      height: 0;
    }
    button {
      width: 100%;
      height: 64px;
      border-radius: 2px;
      background: $primary-accent-color;
    }
    button:first-of-type {
      margin-top: 32px;
    }
    button + div {
      width: 100%;
      height: 40px;
      margin: 16px 0;
      line-height: 40px;
      text-align: center;
      color: $primary-text-color;

      span {
        text-decoration: underline;
      }
    }
    button:last-of-type {
      background: #3b5998;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }
}
